.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  position: relative;
  background-image: url("../../assets/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 17.25rem;
  background-position: bottom;
  color: #0e5454;
  z-index: 0;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    background-color: #f9fafa;
    font-size: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    cursor: pointer;
  }

  &__title {
    font-size: 2.625rem;
    line-height: 1.69rem;
    margin: 0;
    font-weight: 600;
  }

  &__subtitle {
    font-family: "IBM Plex Sans", sans-serif;
    width: 11.31rem;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
  }
}
